{{>header}}
    <button class="header-burger burger"><i class="fa fa-bars"></i></button>
    <header class="header">
      <img class="header-logo" src="./images/nerv.png" alt="Nerv OpenSource logo" href="" style="cursor: pointer;">
        <nav class="header-nav">
                <a class="page-scroller header-nav-button" href="#shop"><i class="fas fa-folder-open"></i>Projetos</a>
                <a class="page-scroller header-nav-button" href="#shop"><i class="fas fa-folder-open"></i>Sobre</a>
        </nav>
    </header>
<div class="containerlogo">
    <img src="./images/nerv.png" alt="Nerv" class="Nerv">
    </div>
<script src="./javascript/api-script.js"></script>
<script src="./javascript/app.min.js"></script>
{{>footer}}