* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

.text {
  text-align: center;
  margin-top: 50px;
}

.container {
  text-align: center;
}

.main {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #a067ab;
  text-align: center;
  font-size: large;
  font-family: "Roboto", sans-serif;
}
